body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      background-color: darkred;
    }

    .video-container {
      position: fixed;
      top: 0;
      left: 10vw; 
      width: 80vw; 
      height: 100vh;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .video-container iframe {
      width: 100%;
      height: 56.25vw; 
      max-height: 100vh;
    }

    .side-image1{
      position: absolute;
      top: 0;
      left: 0;
      width: 10vw;
      height: 100vh;
      background-color: darkred;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .side-image1 img {
        margin-bottom: 80vh;
      width: 80%;
      height: auto;
      max-height: 60%;
      object-fit: contain;
      background-color: darkred;
    }
    .side-image2{
       position: absolute;
      top: 140px;
      left: 20px;
      z-index: 1;
    }

    .side-image2 img {
     width: 100px;
      height: auto;
      border-radius: 0px;
    }